<div id="search_form">
	<% form_tag contacts_path, :method => :get do %>
		<%= text_field_tag :first_name, params[:first_name], :title => "First Name" %>
		<%= text_field_tag :last_name, params[:last_name], :title => "Last Name" %>
		<%= submit_tag "Search", :class => 'focused' %>
	<% end -%>
</div>

<ul class="contacts">
	<% @contacts.each do |contact| %>
		<li>
			<h3 class="list_name"><%= link_to contact.full_name, contact_path(contact) %></h3>
			<p class-"list_details">
				Phone: <%= contact.phone %><br/>
				Email: <%= contact.email %>
			</p>
		</li>
	<% end -%>
</ul>

<%= will_paginate @contacts %>

<%= link_to "New Contact", new_contact_path %>