<div id="search_form">
	<% form_tag contacts_path, :method => :get do %>
		<%= text_field_tag :first_name, params[:first_name], :title => "First Name" %>
		<%= text_field_tag :last_name, params[:last_name], :title => "Last Name" %>
		<%= submit_tag "Search", :class => 'focused' %>
	<% end -%>
</div>

<ul class="contacts">
	<% @contacts.each do |contact| %>
		<li>
			<div><%= display_picture_thumbnail(contact.picture) %></div>
			<h2 class="list_name"><%= link_to contact.full_name, contact_path(contact) %></h2>
			<table class="contact_details">
				<tr>
					<th>Phone:</th>
					<td><%=h contact.phone %></td>
				</tr>
				<tr>
					<th>Email:</th>
					<td><%=h contact.email %></td>
				</tr>
			</table>
		</li>
	<% end -%>
</ul>

<%= will_paginate @contacts %>

<%= link_to "New Contact", new_contact_path %>