<p id="new_link"><%= link_to "New Contact", new_contact_path %></p>

<div id="search_form">
	<% form_tag contacts_path, :method => :get do %>
		<%= text_field_tag :first_name, params[:first_name], :title => "First Name" %>
		<%= text_field_tag :last_name, params[:last_name], :title => "Last Name" %>
		<%= submit_tag "Search", :class => 'focused' %>
	<% end -%>
</div>	

<ul class="contacts">
	<%= render :partial => 'contacts_list' %>
</ul>

<div id="pagination"><%= will_paginate @contacts %></div>