<h2 class="name"><%= @contact.full_name %></h2>

<div id="picture_holder"><%= image_tag @contact.picture(:normal), :class => 'picture' if @contact.picture.exists? %></div>

<table class="contact_details">
	<tr>
		<th>Phone:</th>
		<td><%=h @contact.phone %></td>
	</tr>
	<tr>
		<th>Email:</th>
		<td><%= mail_to @contact.email %></td>
	</tr>
	<tr>
		<th>Twitter:</th>
		<td><%= twitter_link @contact.twitter_user_name %></td>
	</tr>
</table>

<span class="links"><%= link_to "Edit", edit_contact_path(@contact) %> | <%= link_to "Back", contacts_path %></span>

<h3>Recent Tweets</h3>

<ul class="tweets">
	<% @contact.tweets.recent.each do |tweet| %>
		<li>
			<p><%=h tweet.text %></p>
			<span class="tweeted_at"><%=h tweet.tweeted_at  %></span>
		</li>
	<% end -%>
</ul>